*{
    text-align: center;
}

input[type=text], select, textarea {
    padding: 12px;
    border: 2px solid #2a2a2a;
    border-radius: 16px;
    width: 40%;
    margin: 1em;
}

input[type=text]:focus, input[type=text]:focus-visible,  select:focus-visible, textarea:focus-visible {
    outline: 0px dashed #ffc0cb;
    padding: 12px;
    border: 2px solid #ffc0cb;
    border-radius: 16px;
}

input[type=submit] {
    background-color: #539e8a;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffc0cb;
    border: none;
    border-radius: 1em;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#complain, #feedback{
    display: inline-block;
    margin: 0.5em
}


.container {
    width: 30vw;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: flex 0.7s ease-in;
    margin: 10px;
  }

  .panel h3{
    margin-bottom: 0.67em;
  }

  .panel.active{
    flex: 3;

  }

  .panel.active h3{
    opacity: 1;
    border-radius: 50px;
  }

  @media (max-width: 480px) {

    .container {
      width: 90vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }

  }
