*{
    text-align: center;
}


.container {
    width: 30vw;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: flex 0.7s ease-in;
    margin: 10px;
  }

  .panel h3{
    margin-bottom: 0.67em;
  }

  .panel.active{
    flex: 3;

  }

  .panel.active h3{
    opacity: 1;
    border-radius: 50px;
  }

  @media (max-width: 480px) {

    .container {
      width: 90vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }

  }
