:root{
    --line-border-fill: #539e8a;
}

* {
    box-sizing: border-box;
}


.container{
    margin: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    height: 35em;
}

.progress-container{
    display:flex;
    justify-content: space-between;
    position: absolute;
    margin-bottom: 30px;
    top: 40%;
    max-width: 100%;
    width:350px;
}

.progress-container::before{
    content: '';
    background-color: rgb(206, 206, 206);
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transform: 0.4s ease;
}

.progress{
    background-color: green;
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transform: 0.4s ease;
}

.circle{
    background-color: #fff;
    color:#999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    text-align: center;
    border: 3px solid #e0e0e0;
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle.active{
    border-color: green;
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: rgb(196, 196, 196) ;
    cursor: not-allowed;
    border-radius: 4px;
    color:rgb(241, 241, 241)
}

.buttons{
    position: absolute;
    bottom: 0;
}

.quizQuestion {
    display: none;
    margin: 3em;
}

#firstQ{
    display: block;
}

input[type=text], input[type=email], select, textarea {
    padding: 12px;
    border: 2px solid #2a2a2a;
    border-radius: 16px;
    width: 100%;
    margin: 1em;
}

input[type=text]:focus, input[type=text]:focus-visible, input[type=email]:focus, input[type=email]:focus-visible,  select:focus-visible, textarea:focus-visible {
    outline: 0px dashed #ffc0cb;
    padding: 12px;
    border: 2px solid #ffc0cb;
    border-radius: 16px;
}

input[type=submit] {
    background-color: #539e8a;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffc0cb;
    border: none;
    border-radius: 1em;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#complain, #feedback{
    display: inline-block;
    margin: 0.5em
}
